@model Database.Model.Road

@{
    ViewData["Title"] = "Index";
    SelectList List = new SelectList(ViewBag.Cities, "Id", "Name");
}

<
<div class="container">
    <h4>Dodaj Drogę</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-inline my-3">
                    <label asp-for="Source" class="control-label mr-5 ml-2 my-3"></label>
                    <select asp-items="@(List)"
                            class="form-control" asp-for="Source">
                        <option value="wybierz">---Wybierz---</option>
                    </select>
                </div>
                <div class="form-inline my-3">
                    <label asp-for="Target" class="control-label mr-5 ml-2 my-3"></label>
                    <select asp-items="@(List)"
                            class="form-control" asp-for="Target">
                        <option value="wybierz">---Wybierz---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Distance" class="control-label"></label>
                    <input asp-for="Distance" class="form-control" />
                    <span asp-validation-for="Distance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Speed" class="control-label"></label>
                    <input asp-for="Speed" class="form-control" />
                    <span asp-validation-for="Speed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
